<!DOCTYPE html>
<html>
    <head>
        <title>Form Response</title>
        <!-- SET COLOR FOR USERNAME-->
        <style>
            #user {
              color: blue;
            }
        </style>
    </head>
    <body>
      <h3>By Kevin Cai and Winston Peng </h3>
        <Center>
            <h1> Hello! We are team Chezy Pofs, and we're here to steal your data </h1>
            <h2> Your username: </h2><h1 id = "user">{{ username }}</h1>
            <h2> Request Method: </h2><h1>{{request_method}} </h1>
            <h2> I'm Woody! Howdy </h2><h1 id = "user"> {{username}} </h1>
        </Center>
    </body>
</html>
